<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
</head>
<body>
    <center><strong><h1>Order BILL</h1></strong></center>
    <center><div style="border: 1px solid black; display:inline-block; padding: 10px;">
    <h2>Order Details:- </h2>
    <p>Order Id:- {{ ordercontext }}</p>
    <p>Total Amount:- {{ ordercontext.total_amt }}</p>
    <p>Order date:- {{ ordercontext.order_date }}</p>
    <p>Restaurant Name:- {{ ordercontext.r_id.username }}</p>
    <p>Restaurant Addr:- {{ ordercontext.r_id.address }}</p>
    <p>Order_status:- {{ ordercontext.order_status }}</p>

    <h2>Customer Details:- </h2>
    <p>Customer Contact:- {{ contact }}</p>
    <p>Customer email:- {{ email }}</p>
    <h2>Order Items:- </h2>
    {% for j in orderitemcontext %}
    <ul>
        <li><p>item:- {{ j.p_id.p_name }} -- {{ j.price }}</p></li>
    </ul>
    {% endfor %}
    <br>
    <button type="button"><a href="{% url 'login:download' %}" style="text-decoration: none;">Generate Bill</a></button><br>
    <form action="{% url 'login:home' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Home"/>
    </form>
    </div>
    </center>
    

</body>
</html>