<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginStyle.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container py-5 text-center">
    <h2>Reset Your Password</h2>
    <form action="{% url 'login:reset' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username"placeholder="Enter Username"/><br>
        <input type="text" name="password" id="password" placeholder="Enter New Password"/><br>
        <input class="btn btn-primary" type="submit" value="Reset"/>
    </form>
    </div>
</body>
</html>