<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    {% load static%}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'product_style.css' %}">
</head>
<body>
    <header>
        <h1>{{restname}}</h1>
    </header>

    <div class="main-content">
        <div class="container">
            <h2>Products</h2>
            <div class="product-list">
                {% for product in products %}
                <div class="product">
                    <img src="{{ product.p_image.url }}" alt="{{ product.p_name }}">
                    <h3>{{ product.p_name }}</h3>
                    <p class="description">{{ product.p_description }}</p>
                    <p class="price">Price: ${{ product.unit_price }}</p>
                    <button class="btn-buy" onclick="addToCart('{{ product.p_name }}' , '{{ product.unit_price }}')">Buy</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="side-section">
            <h2>Cart</h2>
            <form id="cart-items" action="{% url 'login:confirm_order' id %}" method="post">
                <!-- Selected items will be added here -->
                {% csrf_token %}
                <input type="text" id="total-price" name="total-price" readonly/>
                <input type="submit" value="Confirm Order" class="btn-total" ><br><br>
            </form>
            
        </div>
    </div>

    <script>
        var count=0, total=0;
        function addToCart(name, price) {
            var cartItems = document.getElementById("cart-items");
            var li = document.createElement("input");
            var button = document.createElement("button");
            count++;
            var str = "item"+count;
            li.setAttribute("type","text")
            li.setAttribute("id",str);
            li.setAttribute("name",str);
            
            var str2 = "button"+count;
            button.setAttribute("id",str2);
            button.setAttribute("name",str2);
            button.setAttribute("type","button");
            button.style.color = "red";

            cartItems.appendChild(li);
            cartItems.appendChild(button);
            document.getElementById(str).value = name + " - $" + price;
            document.getElementById(str).readOnly=true;
            document.getElementById(str2).innerText = "X";
            total = total + parseFloat(price);
            document.getElementById("total-price").value = "Total: $" + total;
            button.onclick = function(){
                {
                    var temp = document.getElementById(str).value.split("$");
                    var val = temp[1];
                    total = total - parseFloat(val);
                    document.getElementById(str).remove();
                    document.getElementById("total-price").value = "Total: $" + total;
                    document.getElementById(str2).remove();
                }
            }
        }


    </script>
</body>
</html>
