{% extends 'base.html' %}

{% block content %}

<header>
    <h1>Restaurant {{request.user}} Dashboard</h1>
    
</header>

<div class="dashboard">
    <div class="order-list">
        <h2>Order List</h2>
        {% for items in list_order %}
            {% for item in items %}
                <div class="order-item">
                    <span>{{item.p_id}}</span>
                    <span>{{item.quantity}}</span>
                    
                    <a href="{% url 'login:complete_order_url' item.id %}" class="complete-btn">Complete</a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="food-management">
        <h2>Food Management</h2>
        {% for item in list_product %}
        <div class="food-item">
            <span>{{item.p_name}}:</span>
            <span>{{item.user}}</span>
            <a href="{% url 'login:remove_product_url' item.id %}" class="remove-btn">Remove</a>

        </div>
        {% endfor %}
        
        <a href="addProduct" class="add-btn">Add Food Item</a>
    </div>
    
</div>

<center>

    <a href="{% url 'login:logout_req'%}">logout</a>
</center>
 
{%endblock%}