<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container py-5 text-left">
    <form action="{% url 'login:bill' %}" method="post" style="display: inline-block;">
        {% csrf_token %}
        OnlinePayment <input type="radio" name="Payment" id="Payment">&nbsp;
        CashPayment <input type="radio" name="Payment" id="Payment"><br>
        <input type="text" name="contact" id="contact" placeholder="Enter your Contact"><br>
        <input type="text" name="email" id="email" placeholder="Enter your email"><br>
        <input type="text" name="payment" id="payment" placeholder="Enter UPI ID"><br>
        <input type="submit" value="Pay" name="submit"><br>
    </form>
    </div>
    <div class="container py-5 text-right">
    <h2>Total Amount:- {{ ordercontext.total_amt }}</h2>

    <h2>Order Items:- </h2>
    {% for i in orderitemcontext %}
    <ul>
        <li><h3>item:- {{ i.p_id.p_name }} -- {{ i.price }}</h3></li>
    </ul>
    {% endfor %}
    </div>
</body>
</html>